/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');


/* Basic Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color:  rgba(0, 0, 0);
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1, h2, h3, p {
    color: rgb(255, 255, 255);
}

/* h1 {
    margin-left: 20px;
    font-size: 35px;
} */

.btn {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.7;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 80px;
    background-color: crimson;
}

#navbar .logo {
    padding: 10px;
}

#navbar ul {
    display: flex;
    font-size: 20px;
    font-weight: 500;
}

#navbar li {
    margin: 10px 20px;
    padding: 5px 20px;
}

#navbar a {
    padding: 5px 0;
}

#navbar a:hover {
    border-bottom: 4px solid rgb(255, 255, 255);
}

/* Header / Banner */
.hero {
    background: url('../img/pexels-micah-boerma-1008739.jpg') no-repeat center center/cover;
    /* opacity: 0.8; */
    height: 100vh;
    position: relative;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.hero .content h1 {
    font-size: 75px;
}

.hero .content h2 {
    font-size: 150px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

.hero .content h3 {
    font-size: 30px;
    color: white;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 0;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero * {
    z-index: 2;
}

/* ABOUT */

#about {
    display: flex;
    margin: 50px;
}

#about img {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(255, 255, 255);
}

#about-content {
    text-align: center;
    margin: 50px 50px;
    padding: 75px;
}

/* Project */

#project-content {
    text-align: center;
    margin-top: 60px;
}

/* Contact */

#contact .row {
    display: flex;
}

#contact .row img {
    width: 1024px;
    height: 500px;
    border: 3px solid rgb(255, 255, 255);
}

#contact .row .column .column-2 {
    width: 790px;
    height: 500px;
}

#contact h2 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

/* Call Back form */
.callback-form {
    width: 100%;
    padding: 80px 50px;
}

.callback-form label {
    display: block;
    margin-bottom: 5px;
}

.callback-form .form-control {
    margin-bottom: 15px;
}

.callback-form input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
}

.callback-form input:focus {
    outline-color: #c14b33;
}

.callback-form .btn {
    font-size: 17px;
    padding: 12px 0;
    margin-top: 20px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 120px;
}

.footer p {
    margin-top: 20px;
}

.footer a {
    color: #fff;
    padding: 10px;
}

.footer a:hover {
    color: rgba(121, 101, 85, 0.7);
}

.footer .social > * {
    margin-right: 30px;
}